.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    width: 450px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-box h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.signup-box p {
    font-size: 1rem;
    font-weight: 700;
    color: #6c6c6c;
    margin-bottom: 1rem;
}

