.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(138, 138, 138, 0.2);
}

.header h1 {
    font-size: 2rem;
    color: #7ED956;
}

.header img {
    width: 70px;
}